@import "../../styles/main";
.hero-unit {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/hero.jpg');
    background-size: cover;
    height: 690px;
    padding-top: 170px;
    padding-left: 80px;
    margin-bottom: 20px;
}

.hero-button {
    background-color: $theme-orange !important;
    border-color: $theme-orange !important;
}

.hero-unit h1 {
    color: #FFFFFF;
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
}

.hero-unit h2 {
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.hero-unit h4 {
    font-size: 18px;
    font-weight: lighter;
    color: #FFFFFF;
    margin-bottom: 25px;
}

html {
    background-color: #222;
}
