.mainBody {
    background-color: #f2f2f2;
}

.theader {
    font-weight: bold;
}

.portfolioTypeWrapper {
    background-color: #e6f3ff;
    padding: 5px;
    margin-bottom: 10px;
}

.portfolio-table {}