label {
    display: block;
    margin-bottom: 0;
}

input[radio]{
    visibility: hidden;
}

.wrapper {
    margin: 5% 15%;
}

.questions {
    padding: 5px;
    margin-top: 15px;
}

.options {
    box-shadow: 0 6px 52px -9px rgba(0,0,0,0.75);
    margin-bottom: 40px;
    text-align: left;
    border: cornsilk 1px solid;
    border-radius: 20px;
}

.option-text {
    margin-left: 2px;
}