label {
    display: block;
    margin-bottom: 0;
}

input[radio] {
    visibility: hidden;
}

.wrapper {
    margin: 5% 15%;
}

.questions {
    padding: 5px;
    margin-top: 15px;
}

.options {
    box-shadow: 0 6px 52px -9px rgba(0, 0, 0, 0.75);
    margin-bottom: 40px;
    text-align: left;
    border: cornsilk 1px solid;
    border-radius: 20px;
}

.option-text {
    margin-left: 2px;
}

.nextBtn label {
    text-align: right;
    margin-right: 15px;
    font-size: 1.1em;
    display: block;
    font-weight: bold;
    margin-top: 6px;
    color: $theme-color1;
}

.prevBtn label {
    margin-left: 15px;
    font-size: 1.1em;
    font-weight: bold;
    display: block;
    margin-top: 6px;
    color: orangered;
}

.arrow {
    position: absolute;
    top: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border-top: .4rem solid black;
    border-right: .4rem solid black;
    border-left: none;
    border-bottom: none;
    box-shadow: 0 0 0 lightgray;
    transition: all 200ms ease;
    &.left {
        left: 0;
        transform: translate3d(0, -50%, 0) rotate(-135deg);
    }
    &.right {
        right: 0;
        transform: translate3d(0, -50%, 0) rotate(45deg);
    }
    &:hover {
        border-top: .4rem solid $theme-color1;
        border-right: .4rem solid $theme-color1;
        box-shadow: .2rem -.2rem 0 black;
        &.left {
            left: -.2rem;
        }
        &.right {
            right: -.2rem;
        }
    }
}