label {
    display: block
}

input[radio]{
    visibility: hidden;
}

.wrapper {
    margin: 5% 15%;
}

.questions {
    padding: 5px;
    margin-top: 15px;
}

.options {
    margin-bottom: 40px;
    text-align: center;
}

.option-text {
    margin-left: 2px;
}