@import "../../styles/config/colors";
.overview-card {
    background-color: $theme-orange;
    height: 187.6px;
    width: 100%;
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    box-shadow: 2px 2px 5px $theme-black;
}

.overview-bar {
    height: 500px;
    margin-top: 20px
}

.overview-graph {
    box-shadow: 2px 2px 5px $theme-black;
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 20px
}

.graph-div {
    height: 500px;
    background-color: $theme-grey;
    padding: 5px;
}

ul li a {
    font-size: 15px;
    color: $theme-black;
}

.nav-tabs li.active a {
    background-color: $theme-grey !important;
}