#main-nav {
    border-radius: 0px;
    border: 0px;
    margin-bottom: 0px;
}

#main-nav a {
    color: white;
}

#main-nav li.active a {
    background-color: #95D9C3;
    color: white;
}

#main-nav li a:hover {
    color: white;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 40px;
    padding: 0px;
    width: auto;
    display: inline;
    margin-top: -10px;
    margin-left: -5px;
}

.nav-header {
    width: 400px;
}

.brand-text {
    margin-left: -25px;
}
